<!-- <app-navbarinto></app-navbarinto> -->

<div class="row justify-content-center without-borders d-none d-lg-flex d-md-flex">

    <app-submenu [page]="'dashboard'"></app-submenu>

    <div class="col-lg-10 col-md-10 col-sm-12">
        <div class="container bg-white p-5">
            <h3>Dashboard</h3>
            <div class="alert alert-info" role="alert">
                <h3 class="text-secondary">Hola, {{name}}</h3>
                <h6>Aqui podras ver el total de todos los avances que tienes por el momento.</h6>
            </div>

            <b><h5>Totales en cotizaciónes</h5></b>
            <div class="row">
                <div class="col-4 text-center">
                    <div class="alert alert-secondary" style="border-left:5px solid green;" role="alert">
                        <h2 class="text-secondary">{{tqd | currency: 'USD' | lowercase}}</h2>
                        <h4 class="text-secondary">Hoy</h4>
                    </div>
                </div>
                <div class="col-4 text-center">
                    <div class="alert alert-secondary" style="border-left:5px solid #4a4d89;" role="alert">
                        <h2 class="text-secondary">{{tqd | currency: 'USD' | lowercase}}</h2>
                        <h4 class="text-secondary">Esta semana</h4>
                    </div>
                </div>
                <div class="col-4 text-center">
                    <div class="alert alert-secondary" style="border-left:5px solid yellow;" role="alert">
                        <h2 class="text-secondary">{{tqd | currency: 'USD' | lowercase}}</h2>
                        <h4 class="text-secondary">Este mes</h4>
                    </div>
                </div>
            </div>

            <b><h5>Totales en facturas</h5></b>
            <div class="row">
                <div class="col-4 text-center">
                    <div class="alert alert-secondary" style="border-left:5px solid green;" role="alert">
                        <h2 class="text-secondary">{{tid | currency: 'USD' | lowercase}}</h2>
                        <h4 class="text-secondary">Hoy</h4>
                    </div>
                </div>
                <div class="col-4 text-center">
                    <div class="alert alert-secondary" style="border-left:5px solid #4a4d89;" role="alert">
                        <h2 class="text-secondary">{{tiw | currency: 'USD' | lowercase}}</h2>
                        <h4 class="text-secondary">Esta semana</h4>
                    </div>
                </div>
                <div class="col-4 text-center">
                    <div class="alert alert-secondary" style="border-left:5px solid yellow;" role="alert">
                        <h2 class="text-secondary">{{tim | currency: 'USD' | lowercase}}</h2>
                        <h4 class="text-secondary">Este mes</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="d-flex justify-content-center align-items-center text-center d-sm-block d-lg-none d-md-none" style="height:100vh;">
    <div>
        <img class="mb-3" src="../../../assets/img/devices.svg" width="80%" alt="">
        <h2 class="mb-3">Utilice una tableta o una pc para visualizar contenido.</h2>
        <a routerLink="/" class="btn btn-success shadow">Pagina principal</a>
    </div>
</div>