<!-- <app-navbarinto></app-navbarinto> -->

<div class="row justify-content-center without-borders d-none d-lg-flex d-md-flex">

    <app-submenu [page]="'users'"></app-submenu>

    <div class="col-lg-10 col-md-10 col-sm-12">

        <div class="container p-5 text-center" *ngIf="action==='list'">

            <div class="mt-2 d-flex justify-content-between align-items-center">
                <div class="">
                    <h3>Lista de empleados</h3>
                </div>
                <div class="col-lg-0 text-start">
                    <p class="btn btn-primary mt-1" (click)="action='register'"><i class="fa-solid fa-plus d-lg-none d-md-none d-sm-block"></i><span class="d-none d-lg-block d-md-block"><i class="fa-solid fa-plus"></i> Registrar empleado</span></p>
                </div>
            </div>

            <div *ngIf="!loading" class="bg-light p-3 border shadow table-responsive">
                <table class="table table-hover responsive" id="listEmployees" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Dirección</th>
                            <th>Teléfono</th>
                            <th>Fecha</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let employee of listEmployees" class="text-start">
                            <td>{{employee.name}}</td>
                            <td>{{employee.address}}</td>
                            <td>{{employee.phone}}</td>
                            <td>{{employee.created_at | date:'dd/MM/yyyy'}}</td>
                            <td>
                                <button class="btn btn-warning shadow ml-1" (click)="details=employee" data-bs-toggle="modal" data-bs-target="#details"><i class="fa-solid fa-eye"></i></button>
                                <button class="btn btn-danger shadow ml-1" (click)="delete(employee.id)"><i class="fa-solid fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="container p-5" *ngIf="action==='register'">
            <div class="row mt-2">
                <h3>Registro de empleado</h3>
                <div class="col-6 text-start">
                    <p class="btn btn-secondary mt-1" (click)="action='list';reloadDataTable()"><span><i class="fa-solid fa-arrow-left"></i></span></p>
                </div>
            </div>
            <div class="row justify-content-around allscreen">

                <div class="col-lg-5 col-md-5 col-sm-10 text-center">
                    <img src="../../../assets/img/add_documents.svg" alt="" width="60%">
                    <h2></h2>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 shadow text-center border-radio pt-3">
                    <div class="alert alert-success" role="alert" *ngIf="result === 'ok'">
                        Registro completado.
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="result === 'fail'">
                        No se pudo completar su registro.
                    </div>
                    <h5>Información general</h5>
                    <input type="text" [(ngModel)]="name" class="form-control shadow mt-3" maxLength="50" placeholder="Digite un nombre">
                    <input type="text" [(ngModel)]="address" class="form-control shadow mt-3" maxLength="50" placeholder="Digite un direccion">
                    <input type="number" [(ngModel)]="phone" class="form-control shadow mt-3" maxLength="50" placeholder="Digite un telefono">
                    <button *ngIf="!loading" [disabled]="name===''" class="btn btn-success btn-block btn-lg mt-3 mb-3 shadow" (click)="save()">
                        Registrar
                    </button>
                    <button *ngIf="loading" class="btn btn-success btn-block btn-lg mt-3 mb-3 shadow" (click)="save()">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Registrando...
                    </button>
                </div>

            </div>
        </div>

    </div>
</div>


<div class="d-flex justify-content-center align-items-center text-center d-sm-block d-lg-none d-md-none" style="height:100vh;">
    <div>
        <img class="mb-3" src="../../../assets/img/devices.svg" width="80%" alt="">
        <h2 class="mb-3">Utilice una tableta o una pc para visualizar contenido.</h2>
        <a routerLink="/" class="btn btn-success shadow">Pagina principal</a>
    </div>
</div>

<!-- Modal details -->
<div class="modal fade" id="details" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-dark" id="exampleModalLabel"><b>Detalles de {{ details?.name }}</b></h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-start">

                <button class="btn btn-primary shadow ml-1 text-white" (click)="type_expense='commissions'" data-bs-toggle="modal" data-bs-target="#addExpense">Agregar comisión</button>
                <button class="btn btn-info shadow ml-1 text-white" (click)="type_expense='diet'" data-bs-toggle="modal" data-bs-target="#addExpense">Agregar dieta</button>
                <button class="btn btn-warning shadow ml-1 text-white" (click)="type_expense='fuel'" data-bs-toggle="modal" data-bs-target="#addExpense">Agregar combustible</button>

                <div class="row justify-content-space-between mt-3 p-2">
                    <div class="col-6 bg-secondary">
                        <h5 class="p-2 text-white"><b>Nombre:</b> {{ details?.name }}</h5>
                    </div>
                    <div class="col-6 bg-secondary">
                        <h5 class="p-2 text-white"><b>Telefono:</b> {{ details?.phone }}</h5>
                    </div>
                    <div class="col-12 bg-secondary">
                        <h5 class="p-2 text-white"><b>Dirección:</b> {{ details?.address }}</h5>
                    </div>
                </div>

                <b><h4>Gastos</h4></b>
                <table class="table table-striped table-hover responsive mt-3" id="billsEmployee" style="width:100%">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th>Descripcion</th>
                            <th>Total</th>
                            <th>Tipo de gasto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of details?.items" class="text-start">
                            <td>{{item.description}}</td>
                            <td>{{item.total | currency: 'USD' | lowercase}}</td>
                            <td *ngIf="item.type=='commissions'">Comisión</td>
                            <td *ngIf="item.type=='diet'">Dieta</td>
                            <td *ngIf="item.type=='fuel'">Combustible</td>
                        </tr>
                    </tbody>
                </table>

                <div class="row justify-content-space-between mt-3">
                    <div class="col-12 text-end">

                    </div>
                </div>


            </div>
            <div class="modal-footer ">
                <button type="button " class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal add expense -->
<div class="modal fade" id="addExpense" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-dark" id="exampleModalLabel">
                    <b *ngIf="type_expense=='commissions'">Comisión</b>
                    <b *ngIf="type_expense=='diet'">Dieta</b>
                    <b *ngIf="type_expense=='fuel'">Combustible</b>
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-start">

                <h5 class="p-2"><b>Empleado:</b> {{ details?.name }}</h5>

                <input type="text" [(ngModel)]="description_expense" class="form-control shadow mt-3" maxLength="50" placeholder="Digite una descripcion">
                <input type="number" [(ngModel)]="total_expense" class="form-control shadow mt-3" maxLength="50" placeholder="Digite un monto">
                <button *ngIf="!loading" [disabled]="total_expense===''" class="btn btn-success btn-block btn-lg mt-3 mb-3 shadow" (click)="save_expense()" data-bs-dismiss="modal">
                    Registrar
                </button>
                <button *ngIf="loading" class="btn btn-success btn-block btn-lg mt-3 mb-3 shadow" (click)="save_expense()">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Registrando...
                </button>

            </div>
            <div class="modal-footer ">
                <button type="button " class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>